/* This file is SCSS-free. CSS only. */

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 16px; /* for browsers not understanding rem */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #111;
}

body {
    margin: 0;
    width: 100%;
}

/*
 * If you want 16px for body instead of 14px;
 */

textarea {
    font-size: 16px;
    font-size: 0.8rem;
    overflow: auto;
}


.little-s, .bigger-s textarea {
    font-size: 14px;
    font-size: 0.8rem;
}
.bigger-s, .bigger-s textarea {
    font-size: 18px; /* for browsers not understanding rem */
    font-size: 1.2rem;
}
.normal-s, .normal-s textarea {
  font-size: 16px; /* for browsers not understanding rem */
  font-size: 1rem;
}


/*
 *    Improve behavior. HTML5 display-role reset for older      *    browsers
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

address, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0 0 20px 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

/*
 *    Improve size of small tag. big tag is a obsolete element.
 */

small {
    font-size: 80%;
}

ol, ul {
    padding-left: 30px;
}

ifame {
    border: 0;
}

a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

p,
a {
    line-height: 100%;
}

p {
    word-wrap: break-word;
    word-break: break-word;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}

a:hover,
a:active {
    outline: none;
}

a img {
    border: 0;
}

img {
    border-style: none;
}

q {
    font-style: italic;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}


/*
 * Correct display IE10-.
 */

[hidden],
template {
    display: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

li p,
li ul {
    margin-bottom: 0;
    margin-top: 0;
}


/*
 * Correct table readibility.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* padding to make the table readable. */

th,
td {
    padding: 0.3em;
}


/* distinguishing table headers from data cells. */

th {
    font-weight: bold;
    text-align: center;
}


/*
 * 1. Coordinated marking to match cell's padding.
 *
 * 2. Centered so it doesn't blend in to other content.
 */

caption {
    margin-bottom: .5em;
    /* 1 */
    text-align: center;
    /* 2 */
}

input,
select {
    vertical-align: middle;
}


/*
 * Avoid radio, checkboxes, img misbehavior.
 * And improve displaying in IE.
 */

input[type="radio"],
input[type="checkbox"],
input[type="image"] {
    background-color: transparent;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    /* Saf 5.1+, IE 8+, Op 9+  */
    width: auto;
}

 * Fix font-family for next tags.
 *
 */

pre,
code,
kbd,
samp,
tt {
    font-family: monospace, monospace;
}

xmp {
    white-space: pre-wrap;
    word-break: break-all;
}

/*
 * Reponsive
 */


@media (max-width: 768px) {
  textarea {
    font-size: 14px !important;
    font-size: 0.8rem !important;
  }

  .bigger-t {
    /*
     * If you use 16px for body, we change the size for biggest in responsive.
     */
    font-size: 16px !important;
    font-size: 1rem !important;
  }
  .bigger-t textarea {
    font-size: 16px !important;
    font-size: 1rem !important;
  }
  .paragraph {
    line-height: 1.4 !important;
  }
  p,
  a {
    line-height: 1.0 !important;
  }
}


@media (min-width: 992px) {
  /* Nothing at htis moment */
}
@media (min-width: 1200px) {
    /* Nothing at htis moment */
}



/*    = h
 *    Setting nice size for h1, h2, h3, h4, h5.
 */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 400;
}




/* h1 .h1 little */

/* h2 .h2 little */

/* h3 .h3 little */

/* h4 .h4 little */

/* h5 .h5 little */

.little-h h1, .little-h .h1, .little-h1 {
    font-size: 2.625rem !important;
    line-height: 1.2 !important;
}
.little-h h2, .little-h .h2, .little-h2 {
    font-size: 2rem !important;
    line-height: 1.1 !important;
}
.little-h h3, .little-h h3, .little-h3 {
    font-size: 1.5rem !important;
    line-height: 1 !important;
}
.little-h h4, .little-h .h4, .little-h4 {
    font-size: 1.25rem !important;
    line-height: 1 !important;
}
.little-h h5, .little-h .h5, .little-h5 {
    font-size: 16px !important;
    line-height: 1 !important;
}

/* h1 .h1 bigger */

/* h2 .h2 bigger */

/* h3 .h3 bigger */

/* h4 .h4 bigger */

/* h5 .h5 bigger */

.bigger-h h1,
.bigger-h .h1, .bigger-h1 {
  font-size: 80px !important; /* for browsers not understanding rem */
  font-size: 8.09017rem !important;
}
.bigger-h h2,
.bigger-h .h2, .bigger-h2 {
  font-size: 64px !important; /* for browsers not understanding rem */
  font-size: 6.47214rem !important;
}
.bigger-h h3,
.bigger-h .h3, .bigger-h3 {
  font-size: 48px !important; /* for browsers not understanding rem */
  font-size: 4.8541rem !important;
}
.bigger-h h4,
.bigger-h .h4, .bigger-h4 {
  font-size: 32px !important; /* for browsers not understanding rem */
  font-size: 3.23607rem !important;
}
.bigger-h h5,
.bigger-h .h5, .bigger-h5 {
  font-size: 28px !important; /* for browsers not understanding rem */
  font-size: 2.61803rem !important;
}


/* 
 * h element (h1, h2, h3, h4, h5) 
 */

/* h1 .h1 default */

/* h2 .h2 default */

/* h3 .h3 default */

/* h4 .h4 default */

/* h5 .h5 default */


h1, .h1, .normal-h h1, .normal-h .h1, .normal-h1 {
    font-size: 48px !important;
    font-size: 4.8rem !important;
    line-height: 1.2 !important;
}

h2, .h2, .normal-h h2, .normal-h .h2, .normal-h2 {
    font-size: 40px !important;
    font-size: 4rem !important;
    line-height: 1.3 !important;
}

h3, .h3, .normal-h h3, .normal-h .h3, .normal-h3 {
    font-size: 32px !important;
    font-size: 3.2rem !important;
    line-height: 1.4 !important;
}

h4, .h4, .normal-h h4, .normal-h .h4, .normal-h4 {
    font-size: 26px !important;
    font-size: 2.6rem !important;
    line-height: 1.4 !important;
}

h5, .h5, .normal-h h5, .normal-h .h5, .normal-h5 {
    font-size: 22px !important;
    font-size: 2rem !important;
    line-height: 1.4 !important;
}



/*
 * Inputs
 * Improve input's appereance.
 *
 * Make it more pleasant
 *
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input,
textarea {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    line-height: 20px;
    min-height: 34px;
    padding: 6px 14px;
    vertical-align: middle;
}

input[type=file], input[type=color] {
    border: none;
}

input[type=text],
input[type=number],
input[type=button],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
input[type=week] {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

input[type=submit], button, input[type=button] {
    background-color: #2B65EC;
    background-position: right 8px center;
    border: 1px solid #2B65EC;
    color: #fff;
    padding: 6px 14px;
    &:focus {
        background-color: #6495ED;
        border: 1px solid #6495ED;
    }
}




/*
 * FROM normalise.css
 */



/* From normalise.css
 *
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input
/* 1 */

{
    overflow: visible;
}


/* From normalise.css
 *
 * Remove the inheritance of text transform in Edge, Firefox and IE.
 *
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select
/* 1 */

{
    text-transform: none;
}


/** From normalize.css
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */ [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

@-moz-document url-prefix() {
    .selector {
        color: lime;
    }
}

/* Some class */
.paragraph {
  line-height: 155%;
  /* I wanted 160%, but 150% is fine too, so 150% */
}
.ilb {
    display: inline-block;
}
.hidden {
    display: none;
}